# This file is an experimental new feature, thus might not work in external environment outside of F5 network.
version: "2"
services:
  journeys:
    image: artifactory.f5net.com/f5-cxt-docker/f5-bigip-journeys-app:2.0.0-develop.4167b02b
    environment:
      - JOURNEYS_PORT=${JOURNEYS_PORT}
      - MIGRATE_DIR=${MIGRATE_DIR}
      - BROKER_URL=${BROKER_URL}
    command:
      runserver

    ports:
      - "127.0.0.1:${JOURNEYS_PORT}:443"
    volumes:
      - "${WORKING_DIRECTORY}:${MIGRATE_DIR}"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  celery-worker:
    image: f5devcentral/f5-bigip-journeys-app:v1.1.3
    command: celery -A journeys.backend worker -l debug
    environment:
      - BROKER_URL=${BROKER_URL}
    volumes:
      - "${WORKING_DIRECTORY}:${MIGRATE_DIR}"
    depends_on:
      - journeys
      - redis
